---
import { componentsSections } from '@/content/config'
import { getCollection } from 'astro:content'

import { imagesRootPath } from '@/lib/data'
import RootLayout from '@/layouts/root-layout.astro'
import CategoryCardsGroup from '@/components/category-cards-group.astro'
import PageHeader from '@/components/page-header.astro'

const componentCard = (
  title: string,
  description: string,
  slug: string,
  defaultThumbnail: string,
  darkThumbnail?: string
) => ({
  title,
  description,
  slug,
  thumbnail: {
    default: defaultThumbnail,
    dark: darkThumbnail ?? defaultThumbnail,
  },
})

const groups = Object.keys(componentsSections)

const getGroupComponents = async (group: string) => {
  const componentsData = await getCollection('components', ({ data }) => {
    return data.group === group
  })

  const components = componentsData.map(({ data, slug }) =>
    componentCard(
      data.title,
      data.subtitle,
      slug,
      data.preview,
      data.previewDark
    )
  )

  return { [group]: components }
}

const componentsPromises = groups.map(getGroupComponents)

const components = Object.assign({}, ...(await Promise.all(componentsPromises)))

const sections = Object.entries(componentsSections).map(([name, info]) => ({
  name: name.replaceAll('-', ' '),
  description: info.description,
  components: components?.[name as keyof typeof components] ?? [],
  style: {
    bg: info.bg,
    color: info.color,
  },
}))
---

<RootLayout title="Snow Cone Components">
  <main>
    <PageHeader
      title="Components"
      subtitle="Components are interactive building blocks for creating an user interface. They can be organized into categories based on their purpose: Action, containment, communication, navigation, selection, and text input."
      img={{
        default: imagesRootPath + 'm3-components-thumbnail',
        dark: imagesRootPath + 'm3-components-thumbnail-dark',
      }}
    />
    {
      sections.map(({ name, description, components, style }) => (
        <section class="container p-0">
          <div class="p-6">
            <h2 class="capitalize">{name}</h2>
            <p class="sm:text-title-lg">{description}</p>
          </div>
          <CategoryCardsGroup
            bg={style.bg}
            color={style.color}
            items={components}
          />
        </section>
      ))
    }
  </main>
</RootLayout>
