---
import { ROUTES } from '@/constants/routes'

import { Icon } from '@/components/ui/icon'
import { NavigationRail, styles } from '@/components/ui/navigation-rail'
import { ThemeToggle } from '@/components/react/theme-toggle'

import Logo from './logo.astro'

const navigationItem = (url: string, icon: string, label: string) => ({
  url,
  icon,
  label,
})

const navigationItems = [
  navigationItem(ROUTES.DOCS, 'description', 'Docs'),
  navigationItem(ROUTES.TYPOGRAPHY, 'font_download', 'Typography'),
  navigationItem(ROUTES.THEME, 'palette', 'Theme'),
  navigationItem(ROUTES.COMPONENTS, 'add_circle', 'Components'),
]
const { pathname } = Astro.url
const [, section] = pathname.split('/')
---

<NavigationRail className="hidden md:flex">
  <a href={ROUTES.HOME} class="mb-6 transition-transform hover:scale-105">
    <span class="hidden h-10 w-10 text-primary md:block">
      <Logo />
    </span>
  </a>
  <NavigationRail.Container>
    {
      navigationItems.map(({ url, icon, label }) => {
        const isActive = () => {
          if (url === ROUTES.COMPONENTS) {
            return section === 'components'
          }

          return url === pathname
        }

        return (
          <NavigationRail.Item key={url} href={url} active={isActive()}>
            <NavigationRail.ItemIcon>
              <Icon symbol={icon} className={styles.icon} />
            </NavigationRail.ItemIcon>
            <NavigationRail.ItemLabel>{label}</NavigationRail.ItemLabel>
          </NavigationRail.Item>
        )
      })
    }
  </NavigationRail.Container>
  <div class="hidden grow flex-col items-center justify-end md:flex">
    <ThemeToggle client:idle />
  </div>
</NavigationRail>
