---
import { cn } from '@/lib/utils'
import { actionCardVariants, cardVariants } from '@/components/ui/card'

interface Props {
  name: string
  description: string
  url?: string
  logo?: string
  disabled?: boolean
}

const { name, description, url, logo, disabled } = Astro.props
---

<a
  href={url}
  class={cn(
    'text-start min-h-[114px]',
    cardVariants(),
    actionCardVariants(),
    disabled &&
      'disabled opacity-50 shadow-none hover:shadow-none pointer-events-none'
  )}
  rel="noopener noreferrer"
  target="_blank"
>
  <div class="flex gap-4 p-4 pb-0 text-onSurface">
    <div class="size-14 shrink-0 overflow-clip rounded-sm bg-onSurface/12">
      {logo && <img src={logo} alt={`logo of ${name}`} />}
    </div>
    <div class="flex flex-col space-y-1.5">
      <h3 class="text-title-lg">{name}</h3>
      <p>{description}</p>
    </div>
  </div>
  <span
    class="absolute inset-0 z-[-1] transition-colors group-hover:bg-onSurface/4 group-focus:bg-onSurface/8 group-active:bg-onSurface/8"
  ></span>
</a>
