---
import RootLayout from '@/layouts/root-layout.astro'
import ContentContainer from '@/components/content-container.astro'
import OnThisPage from '@/components/on-this-page.astro'
import PageHeader from '@/components/page-header.astro'

const { frontmatter, headings } = Astro.props
const { title, subtitle, thumbnail, thumbnailDark } = frontmatter
---

<RootLayout title={`Docs - ${title}`}>
  <ContentContainer>
    <PageHeader
      title={title}
      subtitle={subtitle}
      img={{
        default: thumbnail,
        dark: thumbnailDark,
      }}
    />
    <div class="flex w-full">
      <section class="mdx z-0 max-w-5xl flex-1 pb-24 md:px-4 md:pb-4 xl:ml-40">
        <slot />
      </section>
      <OnThisPage title={title} links={headings} />
    </div>
  </ContentContainer>
</RootLayout>
